/* General styles */

body {
  background-color: #ffb703;
}

img {
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Class selectors */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 16px 20px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

/* ID selectors */


#header {
  background-color: #393E46;
  text-align: center;
  color: #EEEEEE;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
